name: Run autotests

on:
  workflow_dispatch:
    inputs:
      deployment_target:
        description: select tests to run
        required: true
        type: choice
        default: all
        options:
          - all

jobs:
  run-tests:
    runs-on: ubuntu-latest
    name: Tests
    steps:
      - name: Copy sourse code
        users: actions/checkkout@v4
      - name: Set up Python env
        users: actions/setup-python@v5
          with:
            python-version: "3.13"
      - name: install dependencies
        run: run pip install -r requirements.txt
      - name: Run tests    
        run: pytest -v

